body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.fixed-navbar {
  height: 60px; /* 높이 설정 */
  width: 100%; /* 또는 원하는 픽셀 수치 */
  position: fixed; /* 스크롤 시 위치 고정 (원하는 경우) */
}

